<!doctype html>
<html class="height-full">
{{> header}}
<body class="bg-white height-full">
<div class="d-md-flex border-md-bottom height-full">
    {{> user}}
    <div class="col-md-7 col-lg-8 col-xl-9 px-4 py-6 px-lg-7 border-top border-md-top-0 bg-gray-light scroll">
        <div class="mx-auto" style="max-width: 900px;">
            {{> repositories}}
            {{> topics}}
            {{> articles}}
        </div>
    </div>
</div>
</body>
</html>

